<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="x.android.commons.component.CommonApplication"
        android:icon="@drawable/ic"
        android:label="Samples"
        android:requestLegacyExternalStorage="true"
        android:theme="@style/Theme.ByteFly.LaunchIcon"
        android:usesCleartextTraffic="true">

        <activity
            android:name="x.android.samples.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="x.android.samples.viewlocator.HomeActivity" />
        <activity
            android:name="x.android.samples.viewlocator.DialogActivity"
            android:theme="@style/Theme.TransparentActivity" />
    </application>
</manifest>